 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     cursor: crosshair;
 }

 body {
    background-image: url('galaxie-galaxy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 }

 h1 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgb(255, 255, 255);
     font-weight: bold;
     font-size: 5rem;
     text-align: center;
     text-shadow: 3px 3px 3px red, 0 0 1em blue, 0 0 0.2em blue;
 }

 button {
        background: #5E5DF0;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 20px 30px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        border: 0;
        text-shadow: 3px 3px 3px red, 0 0 1em blue, 0 0 0.2em blue;
        box-shadow: 3px 3px 3px red, 0 0 1em blue, 0 0 0.2em blue;;
      }

 h2 {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: rgb(255, 255, 255);
     font-weight: bold;
     font-size: 3rem;
     text-align: center;
     text-shadow: 3px 3px 3px red, 0 0 1em blue, 0 0 0.2em blue;

 }

 .board {
     position: relative;
     width: 100vw;
     height: 100vh;
 }

 .clickies {
     position: absolute;
 }

 .bomb {
    position: absolute;
 }

 .foto-nanas {
    position: absolute;
 }