  body{
    background-color: #E3C6F6;
  }
  
  h1 {
      font-family: system-ui, sans-serif;
      color: black;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
  }

  #board {
      position: relative;
      width: 100vw;
      height: 100vh;
      overflow: hidden;

  }

  .clickies {
      background-color: rgb(240, 32, 32);
      position: absolute;
  }